* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Michroma", sans-serif;
    user-select: none;
    -webkit-user-drag: none
}

#container {
    width: 100%;
    height: 100vh;
    position: relative;
}

body {
    /* background-image: url("https://img.freepik.com/free-photo/solid-painted-concrete-wall-textured-backdrop_53876-110679.jpg?semt=ais_hybrid&w=740&q=80"); */
    color: white;
    background-image: radial-gradient(#2a2800 1px, transparent 1px);
    background-size: 20px 20px;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 10px 40px;
    top: 0px;
    z-index: 1;
}

#mname {
    color: yellow;
    font-family: "Bebas Neue", sans-serif;
}

#logo {
    width: 100px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    text-decoration: none;
    color: white;
}

#check {
    display: none;
}

.icons {
    font-size: 2.4rem;
    position: absolute;
    right: 5%;
    font-weight: 600;
    display: none;
    cursor: pointer;
}

.list {
    position: absolute;
    left: 49.5%;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
    border: solid rgb(112, 109, 62) 1px;
    padding: 15px;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    gap: 20px;
    background-color: rgba(111, 111, 64, 0.168);
}

.links {
    font-family: "Outfit", sans-serif;
    text-decoration: none;
    padding: 0px 20px;
    font-size: 20px;
    color: white;
}

.links:hover {
    color: yellow;
}

#home {
    margin: 15% 100px 0px 100px;
    font-family: "Michroma", sans-serif;
}

.hintro>span {
    color: yellow;
}

.hdesc {
    font-size: 80px;
}

.hdesc>span {
    color: rgb(176, 176, 176);
}

.hbtn {
    color: white;
    text-decoration: none;
    /* background-color: rgb(115, 115, 115); */
    border: 1px solid rgb(119, 122, 72);
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 0, 0.088);
}

#hbtn {
    margin-top: 5%;
}

.hbtn:hover {
    color: yellow;
    /* background-color: #6f6f6f; */
    box-shadow: 0 0 80px -15px rgb(255, 255, 0);
}

#about {
    margin-top: 120px;
    width: 100%;
    /* position: relative; */
}

.sectionHead {
    text-align: center;
    font-size: 30px;
    color: yellow;
}

.sectionHead>h2 {
    font-size: 20px;
    color: rgb(124, 124, 124);
}

.aboutme {
    margin-left: 100px;
    width: 45%;
    margin-top: 100px;
}

.desc {
    margin-top: 5%;
    line-height: 2;
}

.desc>span {
    color: yellow;
}

.aimg {
    width: 40%;
    height: 45%;
    margin-left: 55%;
    margin-top: -310px;
    animation: updown 3s infinite ease-in-out;
}

@keyframes updown {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
    }
}

#skill {
    margin: 15% 0px;
}

.myskills {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    justify-items: center;
    align-items: center;
    padding: 0px 100px;
}

.card {
    width: 150px;
    height: 160px;
    text-align: center;
    border: solid rgb(112, 109, 62) 1px;
    border-radius: 5px;
    margin-bottom: 10px;
    backdrop-filter: blur(3px);
    background-color: rgba(111, 111, 64, 0.168);
}

.card:hover {
    box-shadow: 0 0 50px -10px rgb(255, 255, 0);
    transition-delay: 0.07s;
}

.card>p {
    padding-bottom: 10px;
}

.simg {
    width: 100px;
    text-align: center;
    padding: 10px;
}

/* PROJECT PART */

#project {
    margin: 15% 100px;
}

.project-row {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    margin-top: 5%;
    margin-bottom: 20%;

}

.project-col1 {
    flex-basis: 50%;
}

.project-col2 {
    flex-basis: 50%;
}

.techstack {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    padding: 0px 10px;
}

.projectName {
    color: yellow;
}

.projectdesc {
    color: #848484;
}

.features {
    margin-top: 10px;
    color: rgb(255, 255, 158);
    text-decoration: underline;
}

.prjlist {
    color: #848484;
    padding-left: 20px;
}

.projectcard {
    width: 90px;
    height: 40px;
    border: solid rgb(112, 109, 62) 1px;
    border-radius: 5px;
    margin-bottom: 10px;
    backdrop-filter: blur(3px);
    background-color: rgba(111, 111, 64, 0.168);
    display: flex;
}

.projectcard>p {
    margin-top: 15px;
    font-size: 6px;
    padding-right: 3px;
    text-align: center;
}

.pimg {
    width: 25px;
    height: 25px;
    margin-top: 6px;
    padding: 2px;
}

.source {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-github {
    border: solid rgb(112, 109, 62) 1px;
    background-color: rgba(111, 111, 64, 0.168);
    text-decoration: none;
    color: yellow;
    padding: 10px;
    position: absolute;
    margin: 20px 20px;
    border-radius: 10px;
    backdrop-filter: blur(3px);
}

.btn-github:hover {
    box-shadow: 0 0 50px -10px rgb(255, 255, 0);
    transition-delay: 0.07s;
}

.project-col2 {
    border: solid rgb(112, 109, 62) 1px;
    border-radius: 5px;
    background-color: rgba(111, 111, 64, 0.168);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectimg{
    width: 250px;
    border-radius: 10px;
    transition:1s;
}
.projectimg:hover{
    width: 280px;
    box-shadow: 0 0 50px -10px rgb(185, 63, 255);
}
.pfirst{
    background-color: rgba(185, 63, 255, 0.03);
    border: solid rgb(99, 62, 112) 1px;
}
.pfirstname{
    color: rgb(185, 63, 255);
}
.pfirstbg{
    background-color: rgb(185, 63, 255,0.168);
    border: solid rgb(99, 62, 112) 1px;
}
.pfirstgit{
    background-color: rgb(185, 63, 255,0.168);
    border: solid rgb(99, 62, 112) 1px;
    color: rgb(185, 63, 255);
}
.pfirstgit:hover{
    box-shadow: 0 0 50px -10px rgb(185, 63, 255);
}
.psec{
    background-color: rgb(0, 255, 200, 0.03);;
    border: solid rgba(0, 255, 200, 0.316) 1px;
}
.psecname{
    color: rgb(0, 255, 200);
}
.psecbg{
    background-color: rgb(0, 255, 200, 0.03);;
    border: solid rgba(0, 255, 200, 0.316) 1px;
}
.psecgit{
    background-color: rgb(0, 255, 200, 0.03);;
    border: solid rgba(0, 255, 200, 0.316) 1px;
    color: rgb(0, 255, 200);
}
.psecgit:hover{
    box-shadow: 0 0 50px -10px rgb(0, 255, 200);
}
.psecimg:hover{
    box-shadow: 0 0 50px -10px rgb(0, 255, 200);
}

.iconCollection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.icon {
    border: solid 1px rgb(101, 96, 30);
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    background-color: rgba(111, 111, 64, 0.168);
}

.brands {
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

.icon:hover {
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(255, 255, 255));
}

.icon:hover .brands {
    color: yellow;
    animation: rotate 2s;

}

@keyframes rotate {
    0% {
        transform: rotate(30deg);
    }

    20% {
        transform: rotate(-30deg);
    }

    40% {
        transform: rotate(30deg);
    }

    60% {
        transform: rotate(-30deg);
    }

    80% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(-30deg);
    }
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background-color: rgb(128, 128, 128);
}

::-webkit-scrollbar-thumb {
    background-color: yellow;
}

footer {
    margin-top: 8%;
}

#copyright {
    text-align: center;
    font-weight: 600;
}

.upArrow {
    float: right;
    margin: -40px 20px 20px 0px;
}

html {
    scroll-behavior: smooth;
}

/* RESPONSIVE MOBILE */




@media (max-width:480px) {


    #logo {
        width: 100px;
        font-family: "Bebas Neue", sans-serif;
        font-size: 20px;
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    .icons {
        display: flex;
        font-size: 30px;
    }

    #home {
        margin: 70% 10px 0px 10px;
        font-family: "Michroma", sans-serif;
    }

    .hintro {
        text-align: center;
        font-size: 13px;
    }

    .hintro>span {
        color: yellow;
    }

    .hdesc {
        font-size: 25px;
        text-align: center;
    }

    .hdesc>span {
        color: rgb(176, 176, 176);
    }

    .hbtn {
        color: white;
        text-decoration: none;
        /* background-color: rgb(115, 115, 115); */
        border: 1px solid rgb(119, 122, 72);
        padding: 10px;
        border-radius: 10px;
        background-color: rgba(255, 255, 0, 0.088);
        font-size: 10px;
    }

    #hbtn {
        margin-top: 10%;
        text-align: center;
    }

    .hbtn:hover {
        color: yellow;
        box-shadow: 0 0 80px -15px rgb(255, 255, 0);
    }

    #about {
        margin-top: 220px;
        width: 90%;
    }

    .sectionHead {
        text-align: center;
        font-size: 10px;
        color: yellow;
    }

    .sectionHead>h2 {
        font-size: 9px;
        color: rgb(124, 124, 124);
    }

    .aboutme {
        margin: 10px 10px 0px 20px;
        width: 100%;
    }

    .abtme {
        margin-left: 35px;
    }

    .desc {
        margin-top: 5%;
        line-height: 1.2;
        font-size: 9px;
    }

    .desc>span {
        color: yellow;
    }

    #abouti {
        margin-top: 25%;
        margin-right: 25%;
    }

    .aimg {
        padding-top: 10%;
        width: 40%;
        height: 45%;
        animation: updown 3s infinite ease-in-out;
    }

    #skill {
        margin: 40% 0px;
    }

    .myskills {
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 1px;
        justify-items: center;
        align-items: center;
        padding: 0px 10px;
    }

    .card {
        width: 90px;
        height: 40px;
        border: solid rgb(112, 109, 62) 1px;
        border-radius: 5px;
        margin-bottom: 10px;
        backdrop-filter: blur(3px);
        background-color: rgba(111, 111, 64, 0.168);
        display: flex;
    }

    .card:hover {
        box-shadow: 0 0 50px -10px rgb(255, 255, 0);
        transition-delay: 0.07s;
    }

    .card>p {
        margin-top: 15px;
        font-size: 6px;
        padding-right: 3px;
    }

    .simg {
        width: 35px;
        height: 35px;
        margin-top: 2px;
    }
/* PROJECT SECTION */
#project {
    display: none;
}


    .iconCollection {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }

    .icon {
        border: solid 1px rgb(101, 96, 30);
        width: 30px;
        height: 30px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 10px;
        background-color: rgba(111, 111, 64, 0.168);
    }

    .brands {
        color: rgb(255, 255, 255);
        font-size: 1rem;
    }

    .icon:hover {
        background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(255, 255, 255));
    }

    .icon:hover .brands {
        color: yellow;
        animation: rotate 2s;

    }

    footer {
        font-size: 7px;
    }

    .upArrow {
        display: none;
    }
}




@media (max-width:991px) {
    nav {
        justify-content: space-between;
        position: fixed;
        width: 90%;
        top: 0px;
        z-index: 1;
        border: solid rgb(112, 109, 62) 1px;
        border-radius: 10px;
        background-color: rgba(111, 111, 64, 0.168);
        backdrop-filter: blur(3px);
        margin: 17px;
    }

    .icons {
        display: flex;
    }

    #closeIcon {
        display: none;
    }

    #check:checked~.icons #menuIcon {
        display: none;
    }

    #check:checked~.icons #closeIcon {
        display: block;
    }

    #check:checked~.list {
        display: block;
    }

    .list {
        width: 200px;
        justify-content: right;
        display: block;
        line-height: 2;
        position: absolute;
        text-align: center;
        top: 100%;
        right: 0;
        display: none;
    }
}